.nav {
  margin-bottom: 20px;
}

.nav-link {
  margin: 0 5px;
  color: #2e2e2e;
}

.nav-link--selected {
  color: #d63a3a;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 5px 0;
}

.list__description, .list__price {
  margin: 0 5px;
}

.list__action {
  display: flex;
  align-items: center;
}

.list__action--edit, .list__action--remove {
  margin: 0 5px;
  cursor: pointer;
}

.list__action--remove {
  color: #d63a3a;
}

.list__action--edit {
  color: #6368f3;
}